<select name="industry" class="w-11/12 h-9 mt-3 ml-5 border border-gray-400 rounded-lg focus:outline-none">
    <option value="Food Services">Accommodation and Food Services</option>
    <option value="Advisory and Financial Services">Advisory and Financial Services</option>
    <option value="Administration, Business Support and Waste Management Services">Administration, Business Support and Waste Management Services</option>
    <option value="Agriculture, Forestry, Fishing and Hunting">Agriculture, Forestry, Fishing and Hunting</option>
    <option value="Arts & Entertainment">Arts and Entertainment</option>
    <option value="Business Franchises">Business Franchises</option>
    <option value="Construction">Construction</option>
    <option value="Consumer Goods and Services">Consumer Goods and Services</option>
    <option value="Educational Services">Educational Services</option>
    <option value="Finance and Insurance">Finance and Insurance</option>
    <option value="Healthcare and Social Assistance">Healthcare and Social Assistance</option>
    <option value="Industrial Machinery, Gas and Chemicals">Industrial Machinery, Gas and Chemicals</option>
    <option value="Information & Technology">Information & Technology</option>
    <option value="Life Sciences">Life Sciences</option>
    <option value="Mining">Mining</option>
    <option value="Other Services">Other Services</option>
    <option value="Online Retail">Online Retail</option>
    <option value="Retail Trade">Retail Trade</option>
    <option value="Real Estate, Accommodation, Rental and Leasing">Real Estate, Accommodation, Rental and Leasing</option>
    <option value=" Scientific and Technical Services"> Scientific and Technical Services</option>
    <option value="Specialist Engineering, Infrastructure and Contractors">Specialist Engineering, Infrastructure and Contractors</option>
    <option value="Transportation and Warehousing">Transportation and Warehousing</option>
    <option value="Technology">Technology</option>
    <option value="Utilities">Utilities</option>
    <option value="Wholesale Trade">Wholesale Trade</option> 
</select>