<select name="durationtype" class="w-20 h-8  border border-gray-400 rounded-lg focus:outline-none">
    <option value="Years">Years</option>
    <option value="Months">Months</option>
    <option value="Days">Days</option>
</select> 

