<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./styles/style.css">
</head>
<body>
    <div id="main" class="w-screen h-screen flex justify-center items-center bg-yellow-400">
        <div class="w-2/5 h-3/4 bg-white rounded-3xl hover:shadow-2xl">
            <div class=" w-full h-1/5 flex items-center justify-center">
                <a href="/"> <p class="text-blue-900 text-3xl font-bold hover:underline">Biogs</p> </a>
            </div>
            <div id="messagescontainer" class="flex justify-center">
                <ul>
                    <% if (typeof errors != 'undefined') { %>
                        <% errors.forEach((error) => { %>
                            <li class="text-gray-700 underline"> <%= error.message %> </li>
                        <% }) %>
                    <% } %>
                </ul>
                
            </div>
            <div id="formContainer" class="w-full h-4/5">
                <form action="/login" method="POST">
                    <div class="w-full flex items-center justify-center">
                        <input type="email" name="email" placeholder="Email" required class="w-11/12 h-11 border border-blue-900 rounded-2xl my-6 focus:outline-none text-center">
                    </div>

                    <div class="w-full flex items-center justify-center">
                        <input type="password" name="password" placeholder="Password" required class="w-11/12 h-11 border border-blue-900 rounded-2xl my-6 focus:outline-none text-center">
                    </div>

                    <div class="w-full flex items-center justify-center">
                        <input type="submit" value="Sign in" class="w-11/12 h-11 border-2 border-blue-900 bg-blue-900 rounded-3xl my-6 text-white text-xl font-medium focus:outline-none hover:bg-blue-800 hover:border-blue-800">                      
                    </div>
                </form>

                <div class="w-full h-1/5 flex items-start justify-center">
                    <a href="/signup"> <p class="text-gray-500 text-center">Do not have an account yet? <span class="font-bold text-blue-600">register here</span></p> </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>